.burger_constructor_wrapper {
  display: flex;
  flex-direction: column;
}

.burger_constructor_list_wrapper {
  max-height: calc(100vh - 550px);
  overflow-y: scroll;
}

.burger_constructor_item_wrapper {
  display: flex;
  align-items: center;
}

.burger_constructor_order_button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
